{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
	<a class="sidebar-brand d-flex align-items-center justify-content-center">
		<div class="sidebar-brand-icon"> <img src="{% static 'employee/images/tergum1.png' %}" alt="" height="40"> </div>
		<div class="sidebar-brand-text mx-1"> <img src="{% static 'employee/images/tergum2.png' %}" alt="" height="40"></div>
	</a>
	<!-- Divider -->
	<hr class="sidebar-divider my-0">
	<!-- Nav Item - Dashboard-->
	<li class="nav-item">
		<a class="nav-link" href="/"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a>
	</li>
	<!-- Nav Item - Create Translator-->
	<li class="nav-item">
		<a class="nav-link" href="/admin/translator/create"> <i class="fas fa-fw fa-clipboard-list"></i> <span>Create Employee</span></a>
	</li>
	<!-- Nav Item - View Translator -->
	<li class="nav-item">
		<a class="nav-link" href="/admin/translator/view"> <i class="fas fa-fw fa-folder"></i> <span>View Employee</span></a>
	</li>
	<!-- Nav Item - Available Job listing -->
	<li class="nav-item">
		<a class="nav-link" href="/admin/jobs/available"> <i class="fas fa-fw fa-table"></i> <span>Available Jobs</span></a>
	</li>
	<!-- Nav Item - Accepted Job listing -->
	<li class="nav-item">
		<a class="nav-link" href="/admin/contracts/accepted"> <i class="fas fa-fw fa-file"></i> <span>Accepted Contracts</span></a>
	</li>
		
	<!-- Nav Item - Completed Job listing -->
	<li class="nav-item">
			<a class="nav-link" href="/admin/contracts/completed"> <i class="fas fa-fw fa-clipboard"></i> <span>Completed Contracts</span></a>
	</li>



		<li class="nav-item">
			<a class="nav-link" style="cursor: pointer;" onclick="location.href = '/logout';"> <i class="fas fa-fw fa-sign-out-alt"></i> <span>Logout</span></a>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider d-none d-md-block">
		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>
</ul>