{% load static %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
	<!-- Sidebar Toggle (Topbar) -->
 
 
 	{% if request.user.is_staff %}

	<button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3"> <i class="fa fa-bars"></i> </button>

	{% else %}

	<button id="sidebarToggleTop"  onclick="location.href = '/';" class="btn btn-link rounded-circle mr-3" > <i class="fa fa-home"></i> </button>

	{% endif %}
 
 
	<!-- Topbar Navbar -->
	<ul class="navbar-nav ml-auto">
		{% if dashboard %}
		<!-- Nav Item - Alerts -->
		<li class="nav-item dropdown no-arrow mx-1">
			<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-bell fa-fw" style="color:  #009970;"></i>
				<!-- Counter - Alerts -->
				{% if notifications %}

			<span class="badge badge-danger badge-counter">1+</span>
		
						{%endif%}
		
		</a>
			<!-- Dropdown - Alerts -->
			<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
				<div class="scroll">
				<h6 class="dropdown-header">
                    Notifications
                </h6>
				{% if notifications %}
				{% for notification in notifications %}
				<a class="dropdown-item d-flex align-items-center" href="{{notification.link}}">
					<div class="mr-3">
						<div class="icon-circle bg-{{notification.colour}}"> <i class="{{notification.icon}} text-white"></i> </div>
					</div>
					<div>
						<div class="small text-gray-500">{{notification.creation_date}}</div> <span class="font-weight-bold">{{notification.text}}</span> </div>
				</a>
				{% endfor %}
				{% else %}
				<a class="dropdown-item d-flex align-items-center" href="#">
					<div class="mr-3">
						<div class="icon-circle bg-warning"> <i class="fas fa-exclamation-triangle text-white"></i> </div>
					</div>
					<div>
						<div class="small text-gray-500">Tergum</div>You have no notifications </div>
				</a> 				{%endif%}
			
			</div>
		</li>
		{%endif%}
		<div class="topbar-divider d-none d-sm-block"></div>
		<!-- Nav Item - User Information -->
		<li class="nav-item dropdown no-arrow">
			<a class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="mr-2  d-lg-inline text-gray-600 small"><strong>{{request.user.first_name}}</strong></span> <img class="img-profile " src="{% static 'base/images/favicon.png' %}"> </a>
			<!-- Dropdown - User Information -->
		</li>
	</ul>
</nav>